<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlatin.codegen.mapper.SpccClassificationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlatin.codegen.entity.SpccClassification">
        <result column="id" property="id" />
        <result column="archive" property="archive" />
        <result column="parentID" property="parentID" />
        <result column="classification" property="classification" />
        <result column="display" property="display" />
        <result column="userID" property="userID" />
        <result column="level" property="level" />
        <result column="jurisdiction" property="jurisdiction" />
        <result column="createdAt" property="createdAt" />
        <result column="updatedAt" property="updatedAt" />
    </resultMap>

</mapper>
