<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlatin.codegen.mapper.SpccCartTccDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlatin.codegen.entity.SpccCartTcc">
        <result column="id" property="id" />
        <result column="seqId" property="seqId" />
        <result column="cartId" property="cartId" />
        <result column="state" property="state" />
        <result column="reason" property="reason" />
        <result column="createdAt" property="createdAt" />
        <result column="updatedAt" property="updatedAt" />
    </resultMap>

</mapper>
