<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlatin.codegen.mapper.SpccShopAccountWithdrawDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlatin.codegen.entity.SpccShopAccountWithdraw">
        <result column="id" property="id" />
        <result column="customerid" property="customerid" />
        <result column="status" property="status" />
        <result column="desc" property="desc" />
        <result column="userId" property="userId" />
        <result column="amount" property="amount" />
        <result column="paymentWay" property="paymentWay" />
        <result column="paymentDesc" property="paymentDesc" />
        <result column="createdAt" property="createdAt" />
        <result column="updatedAt" property="updatedAt" />
    </resultMap>

</mapper>
