<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlatin.codegen.mapper.SpccShopGlobalConfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mlatin.codegen.entity.SpccShopGlobalConfig">
        <result column="id" property="id" />
        <result column="key" property="key" />
        <result column="value" property="value" />
        <result column="createdAt" property="createdAt" />
        <result column="updatedAt" property="updatedAt" />
    </resultMap>

</mapper>
